<style>
    body {
        background-image: url('images/background.jpg'); background-size: 100% 70%; background-repeat: no-repeat;
    }
   


</style>
<canvas id="my-canvas" width="1520" height="520" style="border:1px solid #000000;"></canvas>

<script type="text/javascript" src="/main.js"></script>

<br>
<button id="backward">Backward</button><img src="images/down.PNG" width="20" 
height="20"><br><br><button id="forward">Forward</button><img src="images/up.PNG" width="20" 
height="20"><br><br>
<button id="kick">kick</button><img src="images/left.PNG" width="20" 
height="20">
<br><br><button id="punch">punch</button><img src="images/right.PNG" width="20" 
height="20">
<br><br><button id="block">block</button><img src="images/space.PNG" width="40" 
height="20">    